<% provide(:title, 'Log in') %>
<% flash.each do |message_type, message| %>
  <% if message.include?('Account not activated')%>
  <div class="alert alert-<%= message_type %> flash">
    <%= message %>
    <%= link_to "Re-send Activation link", send_activation_path %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>
<% end %>

<div class="login-bg">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="log-in panel">
        <div class="panel-heading">
          <h2>Log In</h2>
        </div>
        <%= simple_form_for(:session, url: login_path,
          html: { class: 'simple-form' }) do |f| %>
          <%= f.error_notification %>
          <div class="panel-body">
            <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'My email is...', input_html: { class: 'input-lg' } %>
            <%= f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'input-lg' } %>
            <%= f.input :remember_me, as: :boolean %>
            <%= f.button :submit, "Log in", class: 'btn-lg btn-info btn-block' %>
          </div>
          <%= link_to "Forgot password?", new_password_reset_path %>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        <% end %>
      </div>
    </div>
  </div>
