<h1>Paws!</h1>

<p>Hi <%= @user.pet_name %>,</p>

<p>
Welcome to Paws!
Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
