<h1>Paws!</h1>

<p><%= @greeting %>, <%= @user.pet_name %>:</p>

<p>
  You have requested a password reset. To reset your password use below link:
</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email) %>
