$('#comments_<%= @post.id %>').append("<%=j render 'comments/comment', post: @post, comment: @comment %>");
$('#comment_content_<%= @post.id %>').val('');
$("#likes_<%= @post.id %>").html("<%= j (render partial: 'posts/likes_comments', locals: { post: @post} ) %>");