$('#comments_<%= @post.id %>').html("<%= j render @post.comments, post: @post, comment: @comment %>");
$('#likes_<%= @post.id %>').html("<%= j(render partial: 'posts/likes_comments', locals: {post: @post})%>");
