<%= provide(:title, "Notificationes") %>
<div class=".container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <ul class="notification-index-list">
       <%= render @notifications %> 
      </ul>
      <%= paginate @notifications %>
    </div>
  </div>
</div>
