<!-- #TODO:20 Fix the friends_notification link on likes -->
<%= provide(:title, @title) %>
<% @user ||= @current_user%>
<div class="white-background center-block">
  <div class="pet-image-container center-block">
    <%= image_tag @user.pet_image.url(:banner), class: 'pet-image' %>
    <%= image_tag @user.human_image.url(:small), class: 'img-circle profile-image pull-left' %>
  </div>
  <div class="pet-image-container center-block">
    <h3><%= @user.pet_name%>
      <%= "| " + @user.human_name if @user.human_name%>
    </h3>
    <span class="pet-stats">
      <%=@user.breed%>
      <%= "- " + (time_ago_in_words @user.birthdate) if @user.birthdate%>
    </span>
    <p class="profile-bio">
      <u>
        <h4>bio:</h4>
      </u>
      <span><%= @user.bio %></span>
    </p>
    <div class="user-statistics">
      <p>
        <%= pluralize @user.posts.count, 'post' %>
      </p>
    </div>
    <%= content_tag 'div', id: "btn-area-#{@user.id}" do%>
      <%= render 'friend_button', user: @user %>
    <% end %>
  </div>
</div>
<%= render 'shared/feed' %>
<%= render 'posts/paginator' %>
