<% provide(:title, 'Find friends') %>
<div class="container">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-interval="false">
      <!-- Carousel items -->
      <div class="carousel" id="eventCarousel" data-interval="0">
        <div class="carousel-inner onebyone-carosel">
          <div class="item active">
            <div class="col-md-4">
              <% user = @users.shift%>
              <%= render 'users/user_card', user: user%>
            </div>
          </div>
          <% @users.each do |user|%>
          <div class="item">
            <div class="col-md-4">
              <%= render 'users/user_card', user: user%>
            </div>
          </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
      </div>
      <!--/carousel-inner-->
    </div>
  </div>
</div>
