<div class="likes">
  <div class="pull-right">
    <% if post.votes_for.count > 0 %>
      <span class="guau-count"><i class="fa fa-paw"></i> <%= display_likes post %></span>
    <% end %>
    <% if post.comments.any? %>
      <span><i class="fa fa-comment"></i> <%= display_comments post %></span>
    <% end %>
  </div>
</div>
