<!-- TODO: quitar validacion de contenido de post -->
<div class="modal fade" id="post_text" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title title" id="myModalLabel">bark something!</h3>
      </div>
      <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
        <div class="modal-body">
          <div class="flex-container">
            <%= f.error_notification %>
            <%= f.text_area :content, placeholder: 'Start writing here...',
              class: "post-text", required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-post">
            Cancel
          </button>
          <%= f.submit "Post", class: "btn btn-primary sized-btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
