<div class="modal fade" id="post_image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title title" id="myModalLabel">make the world see that image!</h3>
      </div>
      <div class="modal-body">
        <div class="form-wrapper">
          <%= simple_form_for @post,
            html: { class: 'form-horizontal', multipart: true } do |f| %>
            <div class="form-group text-center">
              <%= f.error_notification %>
              <%= f.input :image %>
              <%= f.input :title %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-post">
                Cancel
              </button>
              <%= f.submit "Post", class: "btn btn-primary sized-btn"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
