<div class="floaty">
  <ul class="floaty-list">
    <li class="floaty-list-item floaty-list-item--green" id="foaty-text-post">
        <span class="floaty-list-item-label">Writing</span>
        <%= image_tag 'edit_icon.svg', data: { toggle: 'modal', target: '#post_text'}%>
    </li>
    <li class="floaty-list-item floaty-list-item--blue">
      <span class="floaty-list-item-label">Picture</span>
      <%= image_tag 'add-photo.svg', data: { toggle: 'modal', target: '#post_image' }%>
    </li>
  </ul>
  <div class="floaty-btn">
    <span class="floaty-btn-label">
      Post something
    </span>
    <%= image_tag 'paw_icon.svg', class: "floaty-btn-icon absolute-center" %>
  </div>
</div>
<%= render 'post_text' %>
<%= render 'post_image' %>
