<% if logged_in? %>
<div class="row">
  <div class="col-md-4">
    <section class="user_info">
      <%= render 'layouts/userinfo_sidebar' %>
    </section>
  </div>
  <aside class="banner-container">
    <div class="right-banner"></div>
  </aside>
  <% if @feed_items.any? %>
    <%= render 'shared/feed' %>
    <%= render 'paginator' %>
  <% else %>
    <%= render 'no_feed' %>
  <% end %>
  <%= render 'post_form'%>
</div>
<% else %>
  <%= render 'layouts/cover_page' %>
<% end %>
