$('#posts_page').after("<%= escape_javascript(render 'feed')%>");
$('#paginator').html("<%= escape_javascript(link_to_next_page(@feed_items, 'LOAD MORE', remote: true, id: 'load_more'))%>");
if (!$('#load_more').length) { $('#paginator').remove(); }
