/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/* ## POST CUSTOMISATIONS ## */
.posts-wrapper {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 650px;
}
.post {
  background-color: #fafafa;
  border-color: #e1e8ed;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px 1px 1px 2px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 20px;
    .post-head-content {
      margin-top: 12px;
      .delete-post,
      .post-header-text {
        display: inline;
        margin-top: 5px;
      }
      .user-name {
        font-weight: bold;
        margin-left: 30px;
      }
      .time-ago {
        color: #A5A7AA;
      }
      .delete-post {
        color: firebrick;
        float: right;
      }
    }
  }
  .caption {
    display: block;
    padding: 5px;
    word-wrap: break-word;
    border-radius: 10px;
  }
  .center-block {
    margin: 0 30px 0 100px;
  }
}
.post-bottom {
  .comment-content,
  .user-name {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
    word-wrap: break-word;
  }
  .user-name {
    font-weight: bold;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .caption-content,
  .user-name {
    display: inline;
  }
  .comment {
    margin-top: 7px;
    .user-name {
      font-weight: bold;
      margin-right: 0.3em;
    }
    .delete-comment {
      // float: right;
      margin-left: 20px;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}
.likes {
  margin-top: 7px;
  margin-bottom: 7px;
}
.comment-form {
  width: 100%;
}
#post-comment {
  max-width: 80px;
  max-height: 40px;
  float: right;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
#post-comment,
.comment_content {
  display: inline-flex;
}
.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 400px;
  color: #4B4F54;
  word-wrap: break-word;
}
.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}
.guau-count {
  margin-right: 15px;
}
/* ## Wrapper and styling for the new and edit views ## */
.form-wrapper {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 0 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}
.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}
.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .post-content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: lightgray;
    display: block;
    margin-left: 60px;
  }
  .profile-pic {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    max-width: 60px;
  }
  .post-header-text {
    left: 50px;
    position: relative;
    margin-top: 10px;
  }
}
.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}
.comment-submit-button {
  position: absolute;
  left: -9999px;
}
#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0 9px;
  vertical-align: middle;
  text-decoration: none;
  a:hover {
    color: #2D6DA8;
  }
}
#post_image {
  padding: 1em;
  margin: 0 auto;
}
#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}
