<div class="background">
  <div class="bg-layer">
    <div class="quotes first-qt">
      <h4>
        <p>
          “When the Man woke up he said, ‘What is Wild Dog doing here?’
          <br>And the Woman said, ‘His name is not Wild Dog any more,
          <br>but the First Friend, because he will be our friend
          <br>for always and always and always.'”
        </p><em>-Rudyard Kipling</em>
      </h4>
    </div>
    <div class="quotes last-qt">
      <h4>
        <p>
          “A dog is the only thing on earth that loves you more than he loves himself.”</p><em>-Josh Billings</em>
      </h4>
    </div>
  </div>
</div>
