<!-- Main Header -->
<header class="main-header navbar-fixed-top">

  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
  <span class="logo-md">
    <%= image_tag 'Paws_logo1.png', alt: 'paws_logo', id: 'logo' %>
  </span>
  <% end %>
  <%= render logged_in? ? 'layouts/logged_header' : 'layouts/login_header'%>
</header>
