
<%#DONE:0 Put the settings box under gears icon%>
<!-- Logged-in Right Menu -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <!-- search form (Optional) -->
  <div class="navbar-search-form">
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <!-- /.search form -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <!-- Friends finder Menu -->
      <%= render 'friends_finder/ffinder_menu' %>

      <!-- Notifications Menu -->
      <%= render 'notifications/notifications_menu' %>

      <!-- Chat Menu -->
      <%= render 'layouts/chat_menu' %>
      <!-- User Account Menu -->
      <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <!-- The user image in the navbar-->
          <%= image_tag @current_user.pet_image.url(:thumb), class: "user-image", alt: "User Image" %>
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
          <span class="hidden-xs">
            <b><%= @current_user.pet_name %></b>
          </span>
        </a>
        <ul class="dropdown-menu">
          <!-- The user image in the menu -->
          <li class="user-header">
            <%= image_tag @current_user.pet_image.url(:small), class: "image-circle" %>
            <p>
              <%= @current_user.pet_name %>
              - <%= @current_user.breed%>
              <small>Member since
                <%= date_in_words(@current_user.created_at) %></small>
            </p>
          </li>
          <!-- Menu Body -->
          <li class="user-body">
            <div class="row">
              <div class="col-xs-4 text-center">
                <%= link_to "Settings", edit_user_path(@current_user) %>
              </div>
              <div class="col-xs-4 text-center">
                <%= link_to "Friends", friends_path %>
              </div>
              <div class="col-xs-4 text-center">
                <%= link_to "Sign Out", "users/#{@current_user.id}", method: :delete,
                  data: { confirm: "Are you sure to delete your profile?" } %>
              </div>
            </div>
            <!-- /.row -->
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <%= link_to "Profile", @current_user, class: "btn btn-default btn-flat" %>
            </div>
            <div class="pull-right">
              <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-default btn-flat" %>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
